@{
    ViewBag.Title = "Confirm Email Sent";
}


<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<div class="container news_section_container">
    <div class="row">
        <div class="col-md-12">
            <h2 style="margin-top:180px">@ViewBag.Title.</h2>
            <div class="text-center">
                <p>
                    An email has been sent to your email address. Please follow the instructions in the email to confirm your account.
                </p>
            </div>
        </div>
    </div>
</div>