@{
    ViewBag.Title = "Quên xác nhận mật khẩu";
}

<link rel="stylesheet" type="text/css" href="~/Content/assets/styles/main_styles.css">
<div class="container news_section_container">
    <div class="row">
        <div class="col-md-12">
            <hgroup class="title">
                <h1 style="margin-top:200px"></h1>
            </hgroup>
            <div>
                <h4>
                    Vui lòng kiểm tra email của bạn để đặt lại mật khẩu.
                </h4>
            </div>
        </div>
    </div>
</div>